{include file="common/head" title="角色管理" keywords="角色管理" /}
<body>
<!--<div class="x-nav" id="app">
          <span class="layui-breadcrumb">
            <a href="JavaScript:void(0)">{{first_nav}}</a>
            <a href="JavaScript:void(0)">{{second_nav}}</a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    {include file="common/top_nav" first="角色管理"  second="角色列表" /}
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="rolename" id="rolename" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <div class="layui-btn"  id="search" data-type="reload"><i class="layui-icon">&#xe615;</i>查询</div>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加角色','{:url('add')}',400,200)"><i class="layui-icon"></i>添加角色</button>
                </div>
                <div class="layui-card-body ">
                    <table id="role" lay-filter="role"></table>
                </div>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="perm">分配权限</a>
                </script>
            </div>
        </div>
    </div>
</div>
{include file="common/footer" /}
<script>
    window.onload = topForProcess();
    layui.use(['table'], function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#role'
            ,url: "{:url('index')}" //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80,align:'center'}
                ,{field: 'name', title: '角色名',align:'center'}
                /* ,{field: 'createtime', title: '创建时间'}*/
                ,{field: 'status', title: '状态',width:80,align:'center'}
                ,{title:'操作', templet:'#barDemo',align:'center'}
            ]]
            ,id: 'role',
        });
        //监听工具条
        table.on('tool(role)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                var url = "{:url('update')}?id="+data.id;
                xadmin.open('编辑角色',url,400,200)
            }else if(obj.event === 'del'){
                layer.confirm('确认要删除该角色吗？操作不可逆哦！！',{title:'系统提示'}, function(index){
                    $.ajax({
                        type: "post",
                        url: "{:url('delete')}",
                        dataType: "json",
                        data:{id:data.id},
                        success: function(data, textStatus, request){
                            if( data.code == 20006){
                                //用户信息失效
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    parent.location.reload();
                                    xadmin.del_tab();
                                    xadmin.close();
                                });
                            }else if( data.code == 1 ){
                                layer.msg('删除角色成功',{anim:0,shade:0.6},function () {
                                    location.reload();
                                    xadmin.close();
                                });
                            }else{
                                layer.msg(data.msg,{anim:0,shade:0.6},function () {
                                    return  false;
                                });
                            }
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'perm'){
                var url = "{:url('perm')}?role_id="+data.id;
                xadmin.open('分配权限',url,700,600)
            }else{

            }
        });
        var $ = layui.$, active = {
            reload: function(){
                var rolename = $('#rolename');
                //执行重载
                table.reload('role', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name: rolename.val()
                    }
                }, 'data');
            }
        };
        $('#search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
</body>

</html>
